# Sensitive data
vault/
.env

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*

# Ansible
ansible/inventory/inventory

# Python
locust/__pycache__/

# VSCode
footwear-webstore-cloudops.code-workspace
